@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    background: #f0f2f5;
    min-height: 90vh;
    height: auto;
    padding-bottom: 5rem;
}

.commit {
    color: cyan;
}

.name {
    color: cyan;
}